adf_betl_getting_started/pipeline/pl_aw_rdw_ddl_latest_views.json
{
	"name": "pl_aw_rdw_ddl_latest_views",
	"properties": {
		"activities": [
			{
				"name": "ForEachLatestViewDef",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_rdw_latest_views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_rdw_latest_views').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "generate_latest_view_rdw",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[parse_handlebars_obj_id]",
									"storedProcedureParameters": {
										"batch_id": {
											"type": "Int32",
											"value": null
										},
										"obj_id": {
											"type": "Int32",
											"value": {
												"value": "@item().obj_id",
												"type": "Expression"
											}
										},
										"output": {
											"type": "String",
											"value": null
										},
										"output_result": {
											"type": "Boolean",
											"value": "true"
										},
										"template_name": {
											"type": "String",
											"value": "drop_and_create_latest_view"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_betl",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "exec_latest_view_sql",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "generate_latest_view_rdw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(activity('generate_latest_view_rdw').output.firstRow._output, \n'select 0 result'\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_rdw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "Dummy"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup_rdw_latest_views",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "update_rdw_his_latest_view_def",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select o.obj_id, o.schema_name, o.obj_name table_name\nfrom obj_ext o\nwhere \nis_definition=1\nand obj_type = 'view'\nand db_name = 'sqldb-rdw'\nand schema_name = 'rdw'\nand obj_name like 'aw_%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "update_rdw_his_latest_view_def",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lookup_obj_tree_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[update_rdw_latest_view_def]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "refresh_obj_tree_rdw",
				"description": "make sure that the meta data is up to date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachLatestViewDef",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@activity('lookup_obj_tree_sql').output.firstRow.template_code",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[ingest_obj_tree]",
						"sqlWriterTableType": "ObjTreeTableParam",
						"storedProcedureTableTypeParameterName": "obj_tree_param",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": null
							},
							"detect_schema_delete": {
								"type": "Boolean",
								"value": null
							},
							"detect_table_delete": {
								"type": "Boolean",
								"value": "true"
							},
							"detect_user_delete": {
								"type": "Boolean",
								"value": null
							},
							"detect_view_delete": {
								"type": "Boolean",
								"value": "true"
							}
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rdw",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "Dummy"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "lookup_obj_tree_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select template_code from static.template \nwhere template_name = 'obj_tree_ms_sql_server'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "aw"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-07T15:48:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}