adf_betl_getting_started/pipeline/pl_aw_ddl_rdw.json
{
	"name": "pl_aw_ddl_rdw",
	"properties": {
		"activities": [
			{
				"name": "define rdw objects",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "observe staging object tree",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "declare @source as varchar(255) = '@{variables('source')}' -- 'aw'\n;\nwith rdw_obj as (  -- define rdw objects based on staging objects\n\tSELECT o.[obj_id] obj_id -- this is the betl internal reference to the main object/table that acted as a source for this object\n\t  , server_type_id \n      , [obj_name]\n\tfrom dbo.obj_ext o \n\twhere o.obj_type = 'table' \n\tand o.schema_name = 'staging_'+@source\n\tand o.is_definition = 0\n\tand o._source = @source\n) , rdw_col as ( \n\tselect \n\t\t  o.obj_id\n\t\t  ,c.ordinal_position -- stays the same\n\t\t  ,c.column_name\n\t\t  ,c.column_type_id\n\t\t  ,c.is_nullable\n\t\t  ,c.data_type\n\t\t  ,c.max_len\n\t\t  ,c.numeric_precision\n\t\t  ,c.numeric_scale\n\t\t  ,null [part_of_unique_index]\n\t\t  ,null primary_key_sorting\n\t\t  ,null default_value -- just copy contents. Do not use source system defaults. \n\tfrom rdw_obj o\n\tinner join dbo.col c on c.obj_id= o.obj_id\n) , static_cols as ( \n\tSELECT \n\t\to.obj_id\n\t\t,c.[ordinal_position]\n\t\t,lower(replace(c.[column_name], '{{obj_name}}', o.obj_name)) column_name \n\t\t,c.[column_type_id]\n\t\t,c.[is_nullable]\n\t\t,c.[data_type]\n\t\t,c.[max_len]\n\t\t,null [numeric_precision]\n\t\t,null [numeric_scale]\n\t\t,null [part_of_unique_index]\n\t\t,c.[primary_key_sorting]\n\t\t,c.[default_value]\n\tFROM rdw_obj o\n\tcross join [static].[Column] c \n\twhere c.rdw=1 \n) \nSELECT o.[obj_id] src_obj_id -- this is the betl internal reference to the main object/table that acted as a source for this object\n\t, null external_obj_id -- this is an object id outside betl for this object. \n\t  , server_type_id \n\t  , 'sqls-betl-dev' server_name \n\t  , 'sqldb-rdw' db_name \n      , 'rdw_'+@source schema_name \n      , obj_name + '_his' obj_name \n\t  , 10 [obj_type_id]  -- table\n      ,ROW_NUMBER() over (partition by o.obj_id order by c.ordinal_position) ordinal_position\n      ,c.column_name\n      ,c.column_type_id\n      ,c.is_nullable\n      ,c.data_type\n      ,c.max_len\n      ,c.numeric_precision\n      ,c.numeric_scale\n      ,c.primary_key_sorting\n      ,null default_value -- just copy contents. Do not use source system defaults. \n      ,@source _source\nfrom rdw_obj o \nleft join ( \n\tselect * from rdw_col\n\tunion all \n\tselect * from static_cols\n) c on c.obj_id = o.obj_id",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[ingest_obj_tree]",
						"sqlWriterTableType": "ObjTreeTableParam",
						"storedProcedureTableTypeParameterName": "obj_tree_param",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": "0"
							},
							"detect_schema_delete": {
								"type": "Boolean",
								"value": "false"
							},
							"detect_table_delete": {
								"type": "Boolean",
								"value": "true"
							},
							"detect_user_delete": {
								"type": "Boolean",
								"value": "false"
							},
							"detect_view_delete": {
								"type": "Boolean",
								"value": "false"
							},
							"is_definition": {
								"type": "Boolean",
								"value": "true"
							}
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Materialize rdw tables DDL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "define rdw objects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_generate_and_exec_sql",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"source": "aw",
						"schema_name": "rdw_aw",
						"template_type": "ddl"
					}
				}
			},
			{
				"name": "observe dwh object tree",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Materialize rdw tables DDL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_observe_dwh_obj_tree",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "observe staging object tree",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_observe_dwh_obj_tree",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"source": {
				"type": "String",
				"defaultValue": "aw"
			},
			"db_name": {
				"type": "String",
				"defaultValue": "sqldb-aw"
			},
			"target_schema_name": {
				"type": "String",
				"defaultValue": "staging-aw"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-07T15:48:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}