adf_betl_getting_started/pipeline/pl_materialize_obj_tree.json
{
	"name": "pl_materialize_obj_tree",
	"properties": {
		"activities": [
			{
				"name": "ForEachObj",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get objects to materialize",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get objects to materialize').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "generate_sql",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[parse_handlebars_obj_id]",
									"storedProcedureParameters": {
										"batch_id": {
											"type": "Int32",
											"value": null
										},
										"obj_id": {
											"type": "Int32",
											"value": {
												"value": "@item().obj_id",
												"type": "Expression"
											}
										},
										"output": {
											"type": "String",
											"value": null
										},
										"output_result": {
											"type": "Boolean",
											"value": "true"
										},
										"template_name": {
											"type": "String",
											"value": {
												"value": "@item().template_name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_betl",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "exec_sql",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "generate_sql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "concat( activity('generate_sql').output.firstRow._output, \n'select 0 result')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_rdw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "Dummy"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get objects to materialize",
				"description": "select list of object definitions in object tree ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "--declare \n--\t@env as varchar(255) = 'dev'\n--\t, @source as varchar(255) = 'aw'\n--\t, @schema_name as varchar(255) = 'staging_aw'\n\ndeclare \n\t@env as varchar(255) = '@{pipeline().globalParameters.Environment}'\n\t, @source as varchar(255) = '@{pipeline().parameters.source}'\n\t, @schema_name as varchar(255) = '@{pipeline().parameters.schema_name}'\n\nselect o.obj_id, o.schema_name, o.obj_name table_name\n, case\n\twhen @env = 'dev' then\n\t\tcase \n\t\t\twhen obj_type = 'table' then 'drop_and_create_table'\n\t\t\twhen obj_type = 'schema' then 'create_schema'\n\t\tend \n\telse -- @env is not dev\n\tcase \n\t\twhen obj_type = 'table' then 'create_table_if_not_exists'\n\tend\n  end template_name \nfrom obj_ext o\nwhere \nis_definition=1 \nand _source = @source\nand schema_name = @schema_name \n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"source": {
				"type": "string",
				"defaultValue": "aw"
			},
			"schema_name": {
				"type": "string",
				"defaultValue": "staging_aw"
			}
		},
		"variables": {
			"obj_tree_sql": {
				"type": "String"
			},
			"template_name": {
				"type": "String",
				"defaultValue": "unknown"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-07T15:48:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}