adf_betl_getting_started/pipeline/pl_rdw_aw.json
{
	"name": "pl_rdw_aw",
	"properties": {
		"activities": [
			{
				"name": "ingest_obj_tree_staging_and_rdw",
				"description": "make sure that the meta data is up to date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "create_rdw_schema_if_not_exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "-- get all databases, schemas, tables, views and columns. \nselect \n\tnull src_obj_id\n\t, isnull(o.object_id, db.database_id) external_obj_id \n\t,  case \n\t\twhen SERVERPROPERTY('EngineEdition') < 4 then 15 -- on premise\n\t\twhen SERVERPROPERTY('EngineEdition') >= 5 then 10 -- azure\n\t  end  server_type_id\n\t, @@SERVERNAME server_name \n\t, db.name db_name\n\t, s.name [schema_name]\n\t, o.name as obj_name \n\t, case \n\t\t\twhen o.type = 'U' then 10 \n\t\t\twhen o.type = 'V' then 20 \n\t\t\twhen s.name is not null then 30\n\t\t\twhen db.name is not null then 40 \n\t\t\telse 50 -- server\n\t  end obj_type_id \n\t, c.column_id ordinal_position\n\t, c.name column_name\n\t, null column_type_id\n\t, convert(int, c.is_nullable) is_nullable\n\t, t.name data_type   \n\t, case when t.name in ('nvarchar', 'nchar') then c.max_length /2 else c.max_length end max_len\n\t, case when t.name in ('decimal', 'numeric') then c.precision else cast(null as int) end numeric_precision\n\t, case when t.name in ('decimal', 'numeric') then ODBCSCALE(c.system_type_id, c.scale) else cast(null as int) end numeric_scale\n\t, case when ic.is_descending_key=0 then 'ASC'when ic.is_descending_key=1 then 'DESC'else null end [primary_key_sorting]\n\t, convert(nvarchar(4000),  \n\t  OBJECT_DEFINITION(c.default_object_id))   AS [default_value]\n\t, null _source\nfrom\n\tsys.databases db\n\tfull outer join sys.schemas s on db.database_id = db_id()\n\tleft join sys.objects o on o.schema_id = s.schema_id\n\tand o.type in ( 'U','V') -- only tables and views\n\tand o.object_id not in \n\t\t(\n\t\tselect major_id \n\t\tfrom sys.extended_properties  \n\t\twhere name = N'microsoft_database_tools_support' \n\t\tand minor_id = 0 and class = 1) -- exclude ssms diagram objects\n\tleft join sys.columns c on c.object_id = o.object_id \n\tleft join sys.types t on c.user_type_id = t.user_type_id \n\t--  = s.name and col.table_name = o.name\n\t--\tleft join sys.columns col on \n\t--col.table_schema = s.name \n\t\t--and col.table_name = o.name \n\t\t--and col.COLUMN_NAME=c.name\n\tleft join sys.indexes i on \n\t\ti.object_id = o.object_id \n\t\tand i.is_primary_key = 1\n\tleft join sys.index_columns ic on \n\t\tic.object_id = o.object_id \n\t\tand ic.column_id = c.column_id\nwhere \n\tisnull(s.name,'') not in ( 'sys', 'INFORMATION_SCHEMA', 'guest') \n\tand isnull(s.name,'') not like 'db[_]%'\n\tand db.name not in ('master','model','msdb','tempdb')\n-- add users\nunion all \n\nselect null src_obj_id\n\t, suser_sid() external_obj_id\n\t,  case \n\t\twhen SERVERPROPERTY('EngineEdition') < 4 then 15 -- on premise\n\t\twhen SERVERPROPERTY('EngineEdition') >= 5 then 10 -- azure\n\t  end  server_type \n\t, @@SERVERNAME server_name \n\t, db_name() db_name\n\t, null [schema_name]\n\t, suser_sname()  obj_name\n\t, 60 obj_type_id -- user\n\t, null ordinal_position\n\t, null column_name\n\t, null column_type_id\n\t, null is_nullable\n\t, null data_type\n\t, null\n\t, null\n\t, null\n\t, null\n\t, null\n\t, null\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[ingest_obj_tree]",
						"sqlWriterTableType": "ObjTreeTableParam",
						"storedProcedureTableTypeParameterName": "obj_tree_param",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": null
							},
							"detect_schema_delete": {
								"type": "Boolean",
								"value": null
							},
							"detect_table_delete": {
								"type": "Boolean",
								"value": "true"
							},
							"detect_user_delete": {
								"type": "Boolean",
								"value": null
							},
							"detect_view_delete": {
								"type": "Boolean",
								"value": "true"
							}
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_staging",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "dummy"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_rdw_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_rdw_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "generate_create_table_ddl",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[parse_handlebars_obj_id]",
									"storedProcedureParameters": {
										"batch_id": {
											"type": "Int32",
											"value": null
										},
										"obj_id": {
											"type": "Int32",
											"value": {
												"value": "@item().obj_id",
												"type": "Expression"
											}
										},
										"output": {
											"type": "String",
											"value": null
										},
										"output_result": {
											"type": "Boolean",
											"value": "true"
										},
										"template_name": {
											"type": "String",
											"value": "drop_and_create_table"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_betl",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "exec_create_table_ddl",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "generate_create_table_ddl",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat( activity('generate_create_table_ddl').output.firstRow._output, \n'select 0 result')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_rdw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "Dummy"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup_rdw_tables",
				"description": "just select all tables in schema staging_aw",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "update_rdw_obj_tree_from_staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select o.obj_id, o.schema_name, o.obj_name table_name\nfrom obj_ext o\nwhere \nis_definition=1 \nand obj_type = 'table'\nand db_name = 'sqldb-rdw'\nand schema_name = 'rdw'\nand obj_name like 'aw_%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "create_rdw_schema_if_not_exists",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF NOT EXISTS ( SELECT  *\n                FROM    sys.schemas\n                WHERE   name = N'rdw' )\n    EXEC('CREATE SCHEMA [rdw]')\n\nselect 'done' result\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_rdw",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "Dummy"
						}
					}
				}
			},
			{
				"name": "update_rdw_obj_tree_from_staging",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ingest_obj_tree_staging_and_rdw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[update_rdw_def]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEachTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "generate_insert_rdw_sql",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "exec_latest_view_sql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[parse_handlebars_obj_id]",
									"storedProcedureParameters": {
										"batch_id": {
											"type": "Int32",
											"value": null
										},
										"obj_id": {
											"type": "Int32",
											"value": {
												"value": "@item().obj_id",
												"type": "Expression"
											}
										},
										"output": {
											"type": "String",
											"value": null
										},
										"output_result": {
											"type": "Boolean",
											"value": "true"
										},
										"template_name": {
											"type": "String",
											"value": "rdw_insert"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_betl",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "exec_insert_rdw",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "generate_insert_rdw_sql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat( activity('generate_insert_rdw_sql').output.firstRow._output, \n'select 0 result')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_rdw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "Dummy"
									}
								}
							}
						},
						{
							"name": "generate_latest_view_rdw",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[parse_handlebars_obj_id]",
									"storedProcedureParameters": {
										"batch_id": {
											"type": "Int32",
											"value": null
										},
										"obj_id": {
											"type": "Int32",
											"value": {
												"value": "@item().obj_id",
												"type": "Expression"
											}
										},
										"output": {
											"type": "String",
											"value": null
										},
										"output_result": {
											"type": "Boolean",
											"value": "true"
										},
										"template_name": {
											"type": "String",
											"value": "drop_and_create_table"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_betl",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "exec_latest_view_sql",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "generate_latest_view_rdw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[parse_handlebars_obj_id]",
									"storedProcedureParameters": {
										"batch_id": {
											"type": "Int32",
											"value": null
										},
										"obj_id": {
											"type": "Int32",
											"value": {
												"value": "@item().obj_id",
												"type": "Expression"
											}
										},
										"output": {
											"type": "String",
											"value": null
										},
										"output_result": {
											"type": "Boolean",
											"value": "true"
										},
										"template_name": {
											"type": "String",
											"value": "rdw_insert"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_betl",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-07-07T15:48:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}