adf_betl_getting_started/pipeline/pl_rdw_aw_etl.json
{
	"name": "pl_rdw_aw_etl",
	"properties": {
		"activities": [
			{
				"name": "Lookup_rdw_tables",
				"description": "just select all tables in schema staging_aw",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select o.obj_id, o.schema_name, o.obj_name table_name\nfrom obj_ext o\nwhere \nis_definition=0\nand obj_type = 'table'\nand db_name = 'sqldb-rdw'\nand schema_name = 'rdw'\nand obj_name like 'aw_%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachRdwTableUpdate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_rdw_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_rdw_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "generate_insert_rdw_sql",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[parse_handlebars_obj_id]",
									"storedProcedureParameters": {
										"batch_id": {
											"type": "Int32",
											"value": null
										},
										"obj_id": {
											"type": "Int32",
											"value": {
												"value": "@item().obj_id",
												"type": "Expression"
											}
										},
										"output": {
											"type": "String",
											"value": null
										},
										"output_result": {
											"type": "Boolean",
											"value": "true"
										},
										"template_name": {
											"type": "String",
											"value": "rdw_insert"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_betl",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "exec_insert_rdw",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "generate_insert_rdw_sql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat( activity('generate_insert_rdw_sql').output.firstRow._output, \n'select 0 result')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_rdw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "Dummy"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"obj_tree_sql": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-07T15:48:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}