adf_betl_getting_started/pipeline/pl_staging_aw.json
{
	"name": "pl_staging_aw",
	"properties": {
		"activities": [
			{
				"name": "observe source obj tree",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "-- get all databases, schemas, tables, views and columns. \nselect * \n\t, '@{variables('source')}' _source\nfrom ( \n\nselect \n\tnull src_obj_id\n\t, isnull(o.object_id, db.database_id) external_obj_id \n\t,  case \n\t\twhen SERVERPROPERTY('EngineEdition') < 4 then 15 -- on premise\n\t\twhen SERVERPROPERTY('EngineEdition') >= 5 then 10 -- azure\n\t  end  server_type_id\n\t, @@SERVERNAME server_name \n\t, db.name db_name\n\t, s.name [schema_name]\n\t, o.name as obj_name \n\t, case \n\t\t\twhen o.type = 'U' then 10 \n\t\t\twhen o.type = 'V' then 20 \n\t\t\twhen s.name is not null then 30\n\t\t\twhen db.name is not null then 40 \n\t\t\telse 50 -- server\n\t  end obj_type_id \n\t, c.column_id ordinal_position\n\t, c.name column_name\n\t, case when ic.is_descending_key is not null then 100 else 300 end column_type_id\n\t, convert(int, c.is_nullable) is_nullable\n\t, case when t.is_user_defined=0 then t.name else t2.name end data_type   \n\t, case when t.name in ('nvarchar', 'nchar') then c.max_length /2 else c.max_length end max_len\n\t, case when t.name in ('decimal', 'numeric') then c.precision else cast(null as int) end numeric_precision\n\t, case when t.name in ('decimal', 'numeric') then ODBCSCALE(c.system_type_id, c.scale) else cast(null as int) end numeric_scale\n\t, case when ic.is_descending_key=0 then 'ASC'when ic.is_descending_key=1 then 'DESC'else null end [primary_key_sorting]\n\t, convert(nvarchar(4000),  \n\t  OBJECT_DEFINITION(c.default_object_id))   AS [default_value]\nfrom\n\tsys.databases db\n\tfull outer join sys.schemas s on db.database_id = db_id()\n\tleft join sys.objects o on o.schema_id = s.schema_id\n\tand o.type in ( 'U','V') -- only tables and views\n\tand o.object_id not in \n\t\t(\n\t\tselect major_id \n\t\tfrom sys.extended_properties  \n\t\twhere name = N'microsoft_database_tools_support' \n\t\tand minor_id = 0 and class = 1) -- exclude ssms diagram objects\n\tleft join sys.columns c on c.object_id = o.object_id \n\tleft join sys.types t on c.user_type_id = t.user_type_id \n    left join sys.types t2 on t2.system_type_id = t.system_type_id and t2.is_user_defined = 0 and t.is_user_defined = 1 and t2.name <> 'sysname'\n\t--  = s.name and col.table_name = o.name\n\t--\tleft join sys.columns col on \n\t--col.table_schema = s.name \n\t\t--and col.table_name = o.name \n\t\t--and col.COLUMN_NAME=c.name\n\tleft join sys.indexes i on \n\t\ti.object_id = o.object_id \n\t\tand i.is_primary_key = 1\n\tleft join sys.index_columns ic on \n\t\tic.object_id = o.object_id \n\t\tand ic.column_id = c.column_id\nwhere \n\tisnull(s.name,'') not in ( 'sys', 'INFORMATION_SCHEMA', 'guest') \n\tand isnull(s.name,'') not like 'db[_]%'\n\tand db.name not in ('master','model','msdb','tempdb')\n-- add users\nunion all \n\nselect null src_obj_id\n\t, suser_sid() external_obj_id\n\t,  case \n\t\twhen SERVERPROPERTY('EngineEdition') < 4 then 15 -- on premise\n\t\twhen SERVERPROPERTY('EngineEdition') >= 5 then 10 -- azure\n\t  end  server_type \n\t, @@SERVERNAME server_name \n\t, db_name() db_name\n\t, null [schema_name]\n\t, suser_sname()  obj_name\n\t, 60 obj_type_id -- user\n\t, null ordinal_position\n\t, null column_name\n\t, null column_type_id\n\t, null is_nullable\n\t, null data_type\n\t, null\n\t, null\n\t, null\n\t, null\n\t, null\n\n) q",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[ingest_obj_tree]",
						"sqlWriterTableType": "ObjTreeTableParam",
						"storedProcedureTableTypeParameterName": "obj_tree_param",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": null
							},
							"detect_schema_delete": {
								"type": "Boolean",
								"value": null
							},
							"detect_table_delete": {
								"type": "Boolean",
								"value": null
							},
							"detect_user_delete": {
								"type": "Boolean",
								"value": null
							},
							"detect_view_delete": {
								"type": "Boolean",
								"value": null
							}
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_aw",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "dummy"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEachStagingTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_staging_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_staging_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy staging table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "drop_table_if_exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_aw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "@item().schema_name",
										"table_name": "@item().table_name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_staging",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@variables('target_schema_name')",
											"type": "Expression"
										},
										"table_name": {
											"value": "@concat( item().target_table_name)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "drop_table_if_exists",
							"description": "staging is always dropped and full inserted",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat(\n'IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N''['\n,variables('target_schema_name')\n,'].'\n, item().target_table_name\n, ''') AND type in (N''U'')) DROP TABLE ['\n,variables('target_schema_name')\n,'].['\n, item().target_table_name\n, '] select 1 result '\n)}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_staging",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "dummy"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup_staging_tables",
				"description": "select tables to be transfered into staging layer of the dwh using property include_staging",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "define staging obj tree",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "-- include all tables that have the include_staging property set to 1 and \n-- have the source property set to this source system. \n-- also create a target_table_name by prefixing the schema_name\n\nselect \n  obj_id, schema_name, table_name\n  , case when schema_name <> 'dbo' then schema_name +'_' else '' end + table_name target_table_name\nfrom ( \nselect o.obj_id, o.schema_name, o.obj_name table_name\nfrom prop_ext pe \ninner join obj_ext o on pe.obj_id = o.obj_id\nwhere property = 'include_staging' and inherited_value = 1 \nand pe.obj_type = 'table' \n\nINTERSECT\n\nselect o.obj_id, o.schema_name, o.obj_name table_name\nfrom prop_ext pe \ninner join obj_ext o on pe.obj_id = o.obj_id\nwhere property = 'source' and inherited_value = @{variables('source')}'\nand pe.obj_type = 'table' \n) q",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "set include_staging property",
				"description": "Needs to be done only once, but for demo purposes we set this in the PL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "observe source obj tree",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "-- lets take the entire aw database \nexec setp 'include_staging', 1, '@{variables('db_name')}'\n\n-- but exclude some tables that we don't need. \nexec setp 'include_staging', 0, '@{variables('db_name')}.[SalesLT].[Address]'\nexec setp 'include_staging', 0, '@{variables('db_name')}.[SalesLT].[ProductModel]'\nexec setp 'include_staging', 0, '@{variables('db_name')}.[dbo].[BuildVersion]';\n\n-- always return something for the lookup component in ADF\nselect 'done' result",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "define staging obj tree",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set include_staging property",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "-- definition of staging objects based on source syste, objects\n\nSELECT o.[obj_id] src_obj_id -- this is the betl internal reference to the main object/table that acted as a source for this object\n\t, null external_obj_id -- this is an object id outside betl for this object. \n      ,1 [is_definition]  -- are we defining new objects ([is_definition] =1) or are we observing existing objects ( [is_definition] =0)\n\t  , server_type_id \n\t  , 'sqls-betl-dev' server_name \n\t  , 'sqldb-rdw' db_name \n      , 'staging_aw' schema_name \n      , case when schema_name <> 'dbo' then schema_name +'_' else '' end + [obj_name] [obj_name]\n\t  ,10 [obj_type_id]  -- table\n      ,c.ordinal_position -- stays the same\n      ,c.column_name\n      ,c.column_type_id\n      ,c.is_nullable\n      ,c.data_type\n      ,c.max_len\n      ,c.numeric_precision\n      ,c.numeric_scale\n      ,c.primary_key_sorting\n      ,null default_value -- just copy contents. Do not use source system defaults. \n      ,'aw' _source\n--select * \nfrom prop_ext pe \ninner join dbo.obj_ext o on pe.obj_id = o.obj_id\ninner join dbo.col c on c.obj_id= o.obj_id\nwhere property = 'include_staging' and inherited_value = 1 \nand pe.obj_type = 'table' \nand o._source = 'aw'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[ingest_obj_tree]",
						"sqlWriterTableType": "ObjTreeTableParam",
						"storedProcedureTableTypeParameterName": "obj_tree_param",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32"
							},
							"detect_schema_delete": {
								"type": "Boolean"
							},
							"detect_table_delete": {
								"type": "Boolean"
							},
							"detect_user_delete": {
								"type": "Boolean"
							},
							"detect_view_delete": {
								"type": "Boolean"
							},
							"is_definition": {
								"type": "Boolean",
								"value": "1"
							}
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_betl",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"source": {
				"type": "String",
				"defaultValue": "aw"
			},
			"db_name": {
				"type": "String",
				"defaultValue": "sqldb-aw"
			},
			"target_schema_name": {
				"type": "String",
				"defaultValue": "staging-aw"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-07T15:48:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}